// =========================================
//                Variables
// =========================================

// Colors

$colors: (
  white: hsl(0, 0%, 100%),
  bg-element-dark: hsl(209, 23%, 22%),
  bg-background-dark: hsl(207, 26%, 17%),
  bg-background-light: hsl(0, 0%, 98%),
  color-light: hsl(200, 15%, 8%),
  color-input-light: hsl(0, 0%, 52%),
);

.dark-theme {
  --text-color: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 100%);
  --background-app: hsl(207, 26%, 17%);
  --background-element: hsl(209, 23%, 22%);
}

.light-theme {
  --text-color: hsl(200, 15%, 8%);
  --background-app: hsl(0, 0%, 98%);
  --background-element: hsl(0, 0%, 100%);
  --input-color: hsl(0, 0%, 52%);
}

// Breakpoints

$break-mobile: 375px;
$break-tablet: 768px;
$break-laptop: 1280px;

// Fonts

$font-light: "nunito_sans-light", sans-serif;
$font-bold: "nunito_sans-bold", sans-serif;
$font-extra: "nunito_sans-extrabold", sans-serif;

// Other vars
$margin-default: 15px;
$padding-default: 15px;
$margin-default-vertical: 35px;
$padding-default-vertical: 35px;
$border-radius-default: 6px;
