// =========================================
//                Variables
// =========================================

// Colors

$colors: (
  $bg-element-dark: hsl(209, 23%, 22%),
  $bg-background-dark: hsl(207, 26%, 17%),
);

// Breakpoints

$break-mobile: 375px;
$break-tablet: 768px;
$break-laptop: 1024px;

// Fonts

$font-light: "nunito_sans-light";
$font-bold: "nunito_sans-bold";
$font-extra: "nunito_sans-extra";
