.country-item {
  width: 26.5rem;
  border-radius: $border-radius-default;
  overflow: hidden;

  background: map-get($map: $colors, $key: bg-element-dark);

  &__image-container {
    width: 100%;
    max-height: 17.3rem;
    overflow: hidden;
  }

  &__content {
    padding: 3rem 2rem;
  }

  &__name {
    font-family: $font-extra;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;

    a {
      color: map-get($map: $colors, $key: white);
    }
  }

  &__info {
    font-size: 1.4rem;
    strong {
      font-family: $font-bold;
    }
  }
}
