.country-item {
  width: 26.5rem;
  border-radius: $border-radius-default;
  overflow: hidden;
  background: var(--background-element);
  transition: box-shadow 0.3s;

  img {
    transition: 0.3s;
  }

  &:hover img {
    transform: scale(1.4);
  }

  &__image-container {
    width: 100%;
    max-height: 17.3rem;
    overflow: hidden;
  }

  &__content {
    padding: 3rem 2rem;
  }

  &__name {
    font-family: $font-extra;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;

    a {
      color: var(--text-color);
    }
  }

  &__info {
    font-size: 1.4rem;
    strong {
      font-family: $font-bold;
    }
  }

  &:hover {
    box-shadow: 0px 6px 10px 0px rgba(22, 22, 22, 0.287);
  }
}
