.header {
  background: var(--background-element);
  color: var(--text-color);
  font-family: $font-bold;

  &__content {
    @include flex(space-between, center);
    padding: $padding-default-vertical $padding-default;
    max-width: $break-laptop;
    margin: 0 auto;
  }

  &__title {
    user-select: none;
    @include linear-font-size(1.4rem, 2.4rem, 37.5rem, 144rem);
    line-height: 1;
  }

  &__dark-mode {
    outline: transparent;
    font-family: $font-light;
    @include linear-font-size(1.2rem, 1.6rem, 37.5rem, 144rem);
    text-transform: capitalize;
    background: none;
    @include flex(center, flex-start);
    gap: 0.8rem;
    color: var(--text-color);
  }

  @media (min-width: $break-laptop) {
    &__content {
      padding: $padding-default-vertical 0;
    }
  }
}
