.loading-spinner {
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 50%;
  border: var(--text-color);
  border-top-color: var(--background-element);
  border-left-color: var(--background-element);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: spin 0.4s linear infinite;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotateZ(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotateZ(359deg);
  }
}
