.search {
  color: var(--text-color);

  &__content {
    @include flex(space-between, flex-start);
    flex-wrap: wrap;
    gap: 4rem;
  }

  &__input {
    width: 100%;
    max-width: 50rem;
    background: var(--background-element);
    @include flex(flex-start, center);
    padding: 2rem 3rem;
    gap: 2rem;
    border-radius: $border-radius-default;
    color: var(--input-color);

    input {
      outline: none;
      @include linear-font-size(1.2rem, 1.6rem, 37.5rem, 144rem);
      color: var(--input-color);
      background: none;
      border: none;

      &::placeholder {
        color: inherit;
      }
    }
  }

  &__icon {
    font-size: 1.5rem;
  }

  &__select {
    width: 100%;
    max-width: 20rem;
    padding: 2rem 3rem;
    background: var(--background-element);

    select {
      cursor: pointer;
      color: inherit;
      width: 100%;
      background: none;
      border: none;
      outline: none;
    }

    option {
      color: inherit;
      background: var(--background-element);
      border: none;
    }
  }

  @media (min-width: $break-tablet) {
    align-items: center;
  }
}
