.search {
  color: map-get($map: $colors, $key: white);
  @include flex(space-between, flex-start);
  flex-wrap: wrap;
  gap: 4rem;

  &__input {
    width: 100%;
    max-width: 50rem;
    background: map-get($map: $colors, $key: bg-element-dark);
    @include flex(flex-start, center);
    padding: 2rem 3rem;
    gap: 2rem;
    border-radius: $border-radius-default;

    button {
      background: none;
      color: inherit;
    }

    input {
      outline: none;
      @include linear-font-size(1.2rem, 1.6rem, 37.5rem, 144rem);

      background: none;
      border: none;
      color: inherit;

      &::placeholder {
        color: inherit;
      }
    }
  }

  &__icon {
    font-size: 1.5rem;
  }

  &__select {
    width: 100%;
    max-width: 20rem;
    color: map-get($map: $colors, $key: white);

    select {
      color: inherit;
      width: 100%;
      background: none;
      border: none;
      outline: none;
    }

    option {
      color: inherit;
      background: map-get($map: $colors, $key: bg-element-dark);
      border: none;
    }
  }

  @media (min-width: $break-tablet) {
    align-items: center;
  }
}
