.filter {
  @include flex(space-between, center);
  align-items: center;
  margin: 4rem 0;
  margin-bottom: 0;
  

  button {
    outline: none;
    background: none;
    @include linear-font-size(1.2rem, 1.8rem, 2.75rem, 76.8rem);
    color: map-get($map: $colors, $key: primary);

    &:active {
      color: map-get($map: $colors, $key: primary-darker);
    }
  }

  &__active {
    text-decoration: underline;
  }

  &__links {
    @include flex(space-between, center);
    gap: 1.5rem;
  }

  &__clear {
    color: map-get($map: $colors, $key: gray);
    text-decoration: underline;
  }
}
