.item {
  @include flex(center, center);
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid rgba(0, 128, 0, 0.253);

  &__desc {
    flex: 1;
    @include flex(flex-start, center);
    gap: 1rem;
    cursor: pointer;
  }

  &__name {
    padding: 1rem;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.6rem;
    background: none;
    color: map-get($map: $colors, $key: primary);

    &--completed {
      color: map-get($map: $colors, $key: gray);
      text-decoration: line-through;
    }

    &--editing {
      background: map-get($map: $colors, $key: primary-lighter);
      color: map-get($map: $colors, $key: white);

      &::selection {
        color: map-get($map: $colors, $key: primary);
      }
    }
  }

  .input-container {
    width: 40%;
    background: none;

    @media (max-width: 768px) {
      width: 70%;
    }
  }

  img {
    cursor: pointer;
    transition: 0.3s;
  }
  img:first-child {
    padding-left: 0;
  }

  &:last-child {
    border-bottom: none;
  }

  &__edit {
    transition: 0.3s;
    margin-right: 1rem;
    margin-left: 2rem;

    @media (max-width: 768px) {
      margin-left: 0;
    }
  }

  &__edit:hover,
  &__edit--is-editing {
    transform: scale(1.4) rotateZ(20deg);
  }

  &__delete:hover {
    animation: shake 1.5s ease-in-out infinite;
  }

  @media (max-width: 768px) {
    &__desc {
      width: 50%;
    }
  }
}

@keyframes shake {
  0%,
  100% {
    transform: scale(1.4) translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: scale(1.4) translateX(-1px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: scale(1.4) translateX(1px);
  }
}
