.app {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: map-get($map: $colors, $key: background);
  z-index: 1;

  &__container {
    margin: 0 auto;
    width: 60%;
    max-width: $break-tablet;
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-family: montserratbold;
    color: map-get($map: $colors, $key: white);
    @include linear-font-size(2rem, 3.6rem, 2.75rem, 76.8rem);
    text-align: center;
    margin-bottom: 2rem;
  }

  @media (max-width: 678px) {
    &__container {
      width: 90%;
    }
  }
}

.background {
  width: 100%;
  height: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  background: map-get($map: $colors, $key: primary-lighter);
  z-index: -1;
}
