.home {
  flex: 1;
  padding: $padding-default;
  width: 100%;
  max-width: $break-laptop;
  margin: 0 auto;

  &__countries {
    margin-top: $margin-default-vertical;
    @include flex(center, initial);
    flex-wrap: wrap;
    gap: 7rem;
  }

  @media (min-width: $break-laptop) {
    &__countries {
      justify-content: space-between;
    }
  }

  @media (min-width: $break-laptop) {
    padding: $padding-default 0;
  }
}
